ul,ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
	text-decoration: none;
}
.container {
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flight {
    width:1200px;
    margin: 0 auto;
    
    .flight__filter {
        text-align: center;

        .filter__title {
            padding: 80px 0 50px;
           

            h3 {
                display: inline;
                font-weight: 800;
            }
            p {
                max-width: 750px;
                margin: 15px auto 0;
            }
        }

        .filter__brand {
            padding: 20px 15px 20px 20px;
            border: 3px solid #e4e4e4;
            display: flex;

            .filter__brand--btn {
                width: 200px;
                height: 50px;
                padding: 10px 60px; 
                margin-right: 5px; 
                border: 1px solid #0079a7;
                border-radius: 5px;
                background-color: #0079a7;
                color: white;
                font-weight: 700;
                outline: none;
            }

            .filter__brand--list {
                width:100%;

                .filter__brand--item {
                    border: 1px solid red;
                    display: flex;
                    padding: 10px 10px 10px 30px;
                    height: 50px;
                    box-sizing: border-box;
                    border: 1px solid #0079a7;
                    border-radius: 5px;

                    p {
                        margin:  auto 15px;
                        color: #0079a7;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .flight__list {


        .flight__list--in {
            padding-left: 30px;

            .daily__price {
                padding: 5px 10px 20px 4px;
                display: flex;
                justify-content: center;
                align-items: center;

                .prev-icon,
                .next-icon{
                    width: 30px;
                    height: 30px;
                    border: 2px solid #0079a7;
                    border-radius: 50%;
                    position: relative;
                }
                
                
                .daily__price--list {
                    margin: 0 20px;
                    padding-top: 15px;
                  

                    ul {

                        li.active {
                            margin:0 -6px 0;
                            background-color: #cbdee5;
                        }

                        li {
                            display: inline-block;
                            color: #0079a7;
                            padding: 15px 10px 0px;
                            box-sizing: border-box;
                            text-align: center;
                            position: relative;

                            &:nth-child(1) {
                                &::before {
                                    width: 2px;
                                    height: 45px;
                                    background-color:#e4e4e4 ;
                                    content: '';
                                    position: absolute;
                                    top: 10px;
                                    left: -3px; 
                                }
                            }
                           

                            &::after {
                                width: 2px;
                                height: 45px;
                                background-color:#e4e4e4 ;
                                content: '';
                                position: absolute;
                                top: 10px;
                                right: 0px;
                                z-index: -2;
                            }

                            h5{
                                font-size: 12px;
                            }
                            p {
                                font-size: 8px;
                            }
                        }
                    }

                   
                }
            }

            .title__info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 30px;

                .route {
                    button {
                        padding: 12px 35px 12px 25px;
                        background-color: #0079a7;
                        border: none;
                        outline: none;
                        border-radius: 5px;
                        font-size: 18px;
                        font-weight: 800;
                        color: white;
                    }
                    h4 {
                        display: inline-block;
                        margin-left: 10px;
                        font-size: 16px;
                        color: #0079a7;
                        font-weight: 800;
                    }
                }
                .date {
                    font-size: 18px;
                    color: #0079a7;
                    margin:auto 0;
                }
            }

            .sort__by {
                display: flex;
                justify-content: space-between;
                padding:0 40px 0 12px;
                margin: 35px 0px;
                color: #003c52;
                font-weight: 600;

                .sort__by--types {

                    p {
                        display: inline-block;
                        margin-right: 35px;
                    }
                    select {
                        border: none;
                        outline: none;
                        cursor: pointer;
                        padding-right: 20px;
                        color:#003c52;                  
                    }
                }
            }
            .specific__info {
                position: relative;
                margin-bottom: 20px;
                

                .cheap__ticket{
                    position: absolute;
                    top: -15px;
                   
                    .card {
                        padding:3px 5px;
                        border-radius: 5px 5px 5px 0;
                        background-color: #acd146;
                        outline: none;
                        font-size: 13px;
                        color: white;
                        text-align: center;
                        margin: 0 auto;

                    }
                
                    .tie {
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-top: 18px solid #acd146;
                        border-left: 8px solid transparent;
                        top:27px;
                  }
                }

                .top__recomend {
                    position: absolute;
                    top: -15px;
                   
                    .card {
                        padding:3px 5px;
                        border-radius: 5px 5px 5px 0;
                        background-color: #26b4f0;
                        outline: none;
                        font-size: 13px;
                        color: white;
                        text-align: center;
                        margin: 0 auto;
                    }
                    .tie {
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-top: 18px solid #26b4f0;
                        border-left: 8px solid transparent;
                        top:27px;
                  }
                }
                .free__bus {
                    position: absolute;
                    top: -15px;
                   
                    .card {
                        padding:3px 5px;
                        border-radius: 5px 5px 5px 0;
                        background-color:#dca40f;
                        font-size: 13px;
                        outline: none;
                        color: white;
                        text-align: center;
                        margin: 0 auto;
                    }
                    .tie {
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-top: 18px solid #dca40f;
                        border-left: 8px solid transparent;
                        top:27px;
                  }
                }
                

                .flights__info {
                    padding: 20px 15px 0 15px;
                    margin-right: 0px;
                    border: 2px solid #eceff3;
                    display: flex;

                    .flight__brand {
                        display: flex;
                        .flight__brand--icon {
                            width:28px;
                            height: 28px;
                            border-radius: 50%;
                            background-color: #003c52;
                        }
                        p{
                           margin-left: 10px;
                           font-size: 9px;
                           display: inline-block;
                        }
                    }
    
                    .flight__time {
                        display: flex;
                        margin: 0 75px 0 20px;
    
                        h4 {
                            font-size: 20px;
                            font-weight: 700;
                        }
                        .time--duration {
                            text-align: center;
                            margin: 5px 20px 0px;
                            position: relative;
    
                            p {
                                position: absolute;
                                top:-10px;
                                left: 18px;
                            }
                            button {
                                display: block;
                                margin:20px auto 0;
                                padding: 5px 10px 3px 10px;
                                border-radius: 8px 8px 0 0;
                                color: white;
                                font-weight: 700;
                                border: none;
                                outline: none;
                                background-color: #0079a7;
                            }
                        }
                    }
    
                    .flight__price {
                        p {
                            font-size: 16px;
                            margin-bottom: 5px;
                            font-weight: 700;
    
    
                        }
    
                        button { 
                            padding: 6px 18px;
                            border-radius: 10px;
                            color: white;
                            font-weight: 700;
                            border: none;
                            outline: none;
                            background-color: #acd146;
                        }
                    }
    
                }
            }
        }
    }
    .flight__list--in {
        margin-left: -30px;

        .daily__price {
            padding: 5px 0px 20px 4px;
            display: flex;
            justify-content: center;
            align-items: center;

            .prev-icon,
            .next-icon{
                width: 30px;
                height: 30px;
                border: 2px solid #0079a7;
                border-radius: 50%;
                position: relative;
            }
            
            
            .daily__price--list {
                margin: 0 20px;
                padding-top: 15px;
              

                ul {

                    li.active {
                        margin:0 -6px 0;
                        background-color: #cbdee5;
                    }

                    li {
                        display: inline-block;
                        color: #0079a7;
                        padding: 15px 10px 0px;
                        box-sizing: border-box;
                        text-align: center;
                        position: relative;

                        &:nth-child(1) {
                            &::before {
                                width: 2px;
                                height: 45px;
                                background-color:#e4e4e4 ;
                                content: '';
                                position: absolute;
                                top: 10px;
                                left: -3px; 
                            }
                        }
                       

                        &::after {
                            width: 2px;
                            height: 45px;
                            background-color:#e4e4e4 ;
                            content: '';
                            position: absolute;
                            top: 10px;
                            right: 0px;
                            z-index: -2;
                        }

                        h5{
                            font-size: 12px;
                        }
                        p {
                            font-size: 8px;
                        }
                    }
                }

               
            }
        }

        .title__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 30px;

            .route {
                button {
                    padding: 12px 35px 12px 25px;
                    background-color: #0079a7;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    font-size: 18px;
                    font-weight: 800;
                    color: white;
                }
                h4 {
                    display: inline-block;
                    margin-left: 10px;
                    font-size: 16px;
                    color: #0079a7;
                    font-weight: 800;
                }
            }
            .date {
                font-size: 18px;
                color: #0079a7;
                margin:auto 0;
            }
        }

        .sort__by {
            display: flex;
            justify-content: space-between;
            padding:0 40px 0 12px;
            margin: 35px 0px;
            color: #003c52;
            font-weight: 600;

            .sort__by--types {

                p {
                    display: inline-block;
                    margin-right: 35px;
                }
                select {
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding-right: 20px;
                    color:#003c52;                  
                }
            }
        }
        .specific__info {
            position: relative;
            margin-bottom: 20px;
            margin-right: 15px;

            .cheap__ticket{
                position: absolute;
                top: -15px;
               
                .card {
                    padding:3px 5px;
                    border-radius: 5px 5px 5px 0;
                    background-color: #acd146;
                    outline: none;
                    font-size: 13px;
                    color: white;
                    text-align: center;
                    margin: 0 auto;

                }
            
                .tie {
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-top: 18px solid #acd146;
                    border-left: 8px solid transparent;
                    top:27px;
              }
            }

            .top__recomend {
                position: absolute;
                top: -15px;
               
                .card {
                    padding:3px 5px;
                    border-radius: 5px 5px 5px 0;
                    background-color: #26b4f0;
                    outline: none;
                    font-size: 13px;
                    color: white;
                    text-align: center;
                    margin: 0 auto;
                }
                .tie {
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-top: 18px solid #26b4f0;
                    border-left: 8px solid transparent;
                    top:27px;
              }
            }
            .free__bus {
                position: absolute;
                top: -15px;
               
                .card {
                    padding:3px 5px;
                    border-radius: 5px 5px 5px 0;
                    background-color:#dca40f;
                    font-size: 13px;
                    outline: none;
                    color: white;
                    text-align: center;
                    margin: 0 auto;
                }
                .tie {
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-top: 18px solid #dca40f;
                    border-left: 8px solid transparent;
                    top:27px;
              }
            }
            

            .flights__info {
                padding: 20px 15px 0 15px;
                margin-right: 0px;
                border: 2px solid #eceff3;
                display: flex;
                justify-content: space-around;

                .flight__brand {
                    display: flex;
                    .flight__brand--icon {
                        width:28px;
                        height: 28px;
                        border-radius: 50%;
                        background-color: #003c52;
                    }
                    p{
                       margin-left: 10px;
                       font-size: 12px;
                       display: inline-block;
                    }
                }

                .flight__time {
                    display: flex;
                    margin: 0 75px 0 20px;

                    h4 {
                        font-size: 20px;
                        font-weight: 700;
                    }
                    .time--duration {
                        text-align: center;
                        margin: 5px 20px 0px;
                        position: relative;

                        p {
                            position: absolute;
                            top:-10px;
                            left: 18px;
                        }
                        button {
                            display: block;
                            margin:20px auto 0;
                            padding: 5px 10px 3px 10px;
                            border-radius: 8px 8px 0 0;
                            color: white;
                            font-weight: 700;
                            border: none;
                            outline: none;
                            background-color: #0079a7;
                        }
                    }
                }

                .flight__price {
                    p {
                        font-size: 16px;
                        margin-bottom: 5px;
                        font-weight: 700;


                    }

                    button { 
                        padding: 6px 30px;
                        border-radius: 10px;
                        color: white;
                        font-weight: 700;
                        border: none;
                        outline: none;
                        background-color: #acd146;
                    }
                }

            }
        }
    }
}
